.App {
  text-align: center;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 300px;
  width: 400px;
  margin: auto;
  margin-bottom: 20px;
  background-color: whitesmoke;
}

.title {
  color: blue;
}

.description {
  margin: 0 15px 0 15px;
}

.movie-image {
  margin: 10px;
  max-width: 150px;
  max-height: 80px;
}